<!DOCTYPE html>
<html>
<head>
    <title>Gayrimenkul Ekle</title>
</head>
<body>
    <h2>Gayrimenkul Ekle</h2>
    <form method="POST">
        <label for="tip">Gayrimenkul Tipi:</label><br>
        <input type="text" id="tip" name="tip"><br><br>
        <label for="adres">Adres:</label><br>
        <input type="text" id="adres" name="adres"><br><br>
        <label for="fiyat">Fiyat:</label><br>
        <input type="text" id="fiyat" name="fiyat"><br><br>
        <input type="submit" value="Kaydet">
    </form>
</body>
</html>